* {
    margin: 0;
    padding: 0;
}
body {
    background: url(img/thumb-1920-863845.jpg);
    background-attachment: fixed;
    overflow-x: hidden;
}
.container {
    display: flex;
    justify-content: space-between;
}
.text-wraper {
    justify-content: center;
}
img {
    width: 30%;
}
.name {
    display: flex;
    justify-content: center;
    font-size: 30px;
}
#color-1 {
    color: red;
}
#color-2 {
    color: indigo;
}
#color-3 {
    color: green;
}
#color-4 {
    color: palevioletred;
}
p {
    color: whitesmoke;
}
.link {
    text-decoration: none;
}
.color-link {
    display: flex;
    justify-content: center;
    color: yellow;
    font-size: 20px;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center ;
    width: 100%;
    height: 100px;
    
    background-color: #474545;
    padding-right: 100px;
}
a {
    text-decoration: none;
}
.size {
    font-size: 20px; 
}


